/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: pink;
  color: green;
}

h1 {
  font-family: verdana, arial, sans-serif; 
  font-style: italic;
  color: blue;
}

button